:root {
    --primary-color: black;
    --secondary-color: #065E62;
    --tertiary-color:#819A9C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}
/* Banner */
.banner {
    padding: 6em 0 8em 0;
    text-align: center;
  width: 100%;
  background-image: url("shutterstock_1429282358.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
}

.border {
    width: 60%;
    margin: 0 auto;
    height: 47px;
    border: 2px solid #fff;
    border-bottom: 0;
}

.banner h2 {
    margin: 0;
    font-size: 3em;
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.5em;
    padding: 0.5em 0 0 0;
    font-family: 'Major Mono Display', monospace;
}

.banner p {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    margin: 1em 0 0 0;
    line-height: 2em;
    letter-spacing: 2px;
    padding: 0 0 2em 0;
    font-family: 'Syne', sans-serif;
}

.border-bottom {
    border-top: 0;
    border-bottom: 2px solid #fff !important;
}

/* Header */
header {
    height: 50px;
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
}

header h1 {
    font-size: 52px;
    color: #fff;
    font-family: 'Major Mono Display', monospace;
}

header a {
    text-decoration: none;
    color:#fff;
    line-height: 1.4;
    padding: 0.25em;
    background: rgba(#fff, 0);
}

header nav {
    float: center;
    margin: 7px 0;
    font-family: 'Syne', sans-serif;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}


.buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.container { 
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center; 
}

.btn {
    letter-spacing: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Body*/
.container2 {
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: #fff;
    text-align: center;
    font-family: 'Syne', sans-serif;
}

.bio,
.projects {
    display: flex;
    justify-content: space-around; 
    text-align: left;
}

.about {
    width: 350px;
    height: 350px;
}

.container2 h1 {
    color: var(--quaternary-color);
}

/* Projects Grid */
.project-grid-container {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;

}

.project-grid-item {
    border: solid;
    color: black;
}

.project-name {
    position: absolute;
    bottom: 20px;
    background-color: white;
    color: black;
    padding-right: 20px;
    padding-bottom: 20px;
    border: solid;
    border-color: black;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
}


.box2 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
}

.box3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}

.box4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    position: relative;
}

.box5 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    position: relative;
}

.image:hover {
    opacity: 50%;
}
/* Resume */
.resume {
    width: 65%;
    margin: auto;
    padding: 50px 0px 0px 0px;
    text-align: center;
    font-family: 'Syne', sans-serif;
    color: var(--quaternary-color)
}

footer {
    background: var(--secondary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Syne', sans-serif;
    margin: auto;
}
footer h1 {
    color: black;
    margin: 0;
    font-family: 'Major Mono Display', monospace;
}

footer div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.say-hello {
    text-align: left;
}


p {
    color: var(--tertiary-color);
}