:root {
    --primary-color: black;
    --secondary-color: #065E62;
    --tertiary-color:#819A9C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'Syne', sans-serif;
}

/* Header */

header {
    padding: 20px 35px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../assets/shutterstock_1429282358.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: white;
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
}

/* Footer */
footer {
    background: var(--secondary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}
footer h1 {
    color: black;
    margin: 0;
    font-family: 'Major Mono Display', monospace;
}

footer div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.say-hello {
    text-align: left;
}
/* Banner */
.banner {
    background-image: url("shutterstock_1429282358.jpg");
    background-size: cover;
    padding: 6em 0 8em 0;
    text-align: center;
    width: 100%;
    height: 30%;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
}

.border {
    width: 60%;
    margin: 0 auto;
    height: 47px;
    border: 2px solid #fff;
    border-bottom: 0;
}

.banner h2 {
    margin: 0;
    font-size: 3em;
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.5em;
    padding: 0.5em 0 0 0;
    font-family: 'Major Mono Display', monospace;
}

.banner p {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    margin: 1em 0 0 0;
    line-height: 2em;
    letter-spacing: 2px;
    padding: 0 0 2em 0;
    font-family: 'Syne', sans-serif;
}

.border-bottom {
    border-top: 0;
    border-bottom: 2px solid #fff !important;
}

/* Section Title */
.section-title {
    font-size: 48px;
    border-bottom: 2px solid;
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border {
    border-color: black;
}
/* Body*/

.background {
    background-color: white;
    width: 80%;
    margin: auto;
}
.about{
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about-img {
    flex: 1 12%;
    margin-right: 20px;
}

.about-img img {
    max-width: 100%
}

.about-text {
    flex: 12;
}

.about h2 {
    margin: 0;
    font-size: 24px;
    color: black;

}

.about p {
    line-height: 1.5;
    color: var(--secondary-color);
    width: 80%;
    margin: 0 auto;
    font-size: 32px;
    text-align: left;
}



/* Projects Grid */
.project-grid-container {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: stretch;

}

.project-grid-item {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
}

.project-name {
    position: absolute;
    bottom: 20px;
    background-color: white;
    color: black;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 2px solid black;
}

.box1 {
    grid-column: 1/ span 2;
    grid-row: 1 / span 2;
    position: relative;
}


.box2 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
}

.box3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}

.box4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    position: relative;
}

.box5 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    position: relative;
}

.image:hover {
    opacity: 50%;
}
/* Resume */
.resume {
    width: 65%;
    margin: auto;
    padding: 50px 0px 0px 0px;
    text-align: center;
    font-family: 'Syne', sans-serif;
    color: var(--quaternary-color)
}


/* Utilities */
  
  .flex-row {
    display: flex;
  }

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 20px;
    }
    
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
    
    .about, .about-info {
        width: 100%;
    }

    .section-title {
        width: 80%;
    }
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }

    .about-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .about-img {
        flex: 0 40%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .about-text {
        flex: 100%;
    }

    .project-grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-grid-item {
        grid-column: 1;
    }

    .box1 {
        grid-column: 1/1;
        grid-row: 1/1;

    }
    .box2 {
        grid-column: 1/1;
        grid-row: 2/2;
    }
    .box3 {
        grid-column: 1/1;
        grid-row: 3/3;
    }
    .box4 {
        grid-column: 1/1;
        grid-row: 4/4;
    }
    .box5 {
        grid-column: 1/1;
        grid-row: 5/5;
    }
    
    
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .section-title {
        width: 90%;
    }
    .about p {
        width: 100%;
    }
}