:root {
    --primary-color: black;
    --secondary-color: #065E62;
    --tertiary-color:#819A9C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'Syne', sans-serif;
}

/* Header */

header {
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0 5px 0;
    background-attachment: fixed;
    z-index: 9999;
    padding-top: 10px;
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: white;
}

header a {
    text-decoration: none;
    color: white;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
}

/* Footer */
footer {
    background: var(--secondary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}
footer h1 {
    color: black;
    margin: 0;
    font-family: 'Major Mono Display', monospace;
}

footer div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.say-hello {
    text-align: left;
}
/* Banner */
.banner {
    background-image: url("shutterstock_1429282358.jpg");
    background-size: cover;
    padding: 6em 0 8em 0;
    text-align: center;
    width: 100%;
    height: 30%;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
}

.border {
    width: 60%;
    margin: 0 auto;
    height: 47px;
    border: 2px solid #fff;
    border-bottom: 0;
}

.banner h2 {
    margin: 0;
    font-size: 3em;
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.5em;
    padding: 0.5em 0 0 0;
    font-family: 'Major Mono Display', monospace;
}

.banner p {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    margin: 1em 0 0 0;
    line-height: 2em;
    letter-spacing: 2px;
    padding: 0 0 2em 0;
    font-family: 'Syne', sans-serif;
}

.border-bottom {
    border-top: 0;
    border-bottom: 2px solid #fff !important;
}

/* Section Title */
.section-title {
    font-size: 48px;
    border-bottom: 2px solid;
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border {
    border-color: black;
}
/* Body*/

.background {
    background-color: white;
    width: 80%;
    margin: auto;
}
.about{
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about-img {
    flex: 1 12%;
    margin-right: 20px;
}

.about-img img {
    max-width: 100%
}

.about-text {
    flex: 12;
}

.about h2 {
    margin: 0;
    font-size: 24px;
    color: black;

}

.about p {
    line-height: 1.5;
    color: var(--secondary-color);
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: left;
}



/* Projects Grid */
.project-grid-container {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;

}

.project-grid-item {
    border: solid;
    color: black;
    display: flex;
}

.project-name {
    position: absolute;
    bottom: 20px;
    background-color: white;
    color: black;
    padding-right: 20px;
    padding-bottom: 20px;
    border: solid;
    border-color: black;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
}


.box2 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
}

.box3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}

.box4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    position: relative;
}

.box5 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    position: relative;
}

.image:hover {
    opacity: 50%;
}
/* Resume */
.resume {
    width: 65%;
    margin: auto;
    padding: 50px 0px 0px 0px;
    text-align: center;
    font-family: 'Syne', sans-serif;
    color: var(--quaternary-color)
}


/* Utilities */
.text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .flex-row {
    display: flex;
  }

